{% extends 'base.html' %} {% block content %}

<header class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Transparência</h1>
    <p class="lead">Dados de transparência do PROJETO ACOLHER disponíveis para cumprimento ao <strong>COMUNICADO SDG. nº 016/2018 do Tribunal de Contas de SP </strong></p>
    <p class="lead">Site institucional e outras funções ainda em construção</p>
</header>

<section>
    <div class="row">
        <div class="col-md-12">

            <div class="card-deck mb-3 text-center">

                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome do Documento / Informação</th>
                            <th scope="col">Link para Download</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Estatuto Social atualizado</td>
                            <td>Link</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Termos de ajustes</td>
                            <td>Não existem termos de ajuste</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Planos de Trabalho</td>
                            <td>Link</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Relação Nomina Dirigentes</td>
                            <td>Link</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Valores repassados</td>
                            <td>Link</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Prestadores de serviços</td>
                            <td>Link</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Remunerações Individualizadas</td>
                            <td>Link</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Balanços e demonstrações contábeis</td>
                            <td>Link</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Relatórios físico-financeiros de acompanhamentos</td>
                            <td>Link</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Regulamento de compras</td>
                            <td>Link</td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>Regulamento de contratação de pessoal</td>
                            <td>Link</td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>Mais Inf. sobre atividades e resultados</td>
                            <td>Link</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</section>

{% endblock %}